/* App.css */

/* General Styles */
body {
  background-color: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #14d2b9;
}
a {
  color: #14d2b9;
}
a:hover {
  color: #089564;
  text-decoration: none;
}

/* Button Styles */
.btn-primary {
  background-color: #14d2b9;
  border-color: #20dc4c;
}
.btn-primary:hover {
  background-color: #089c9a;
  border-color: #089564;
}
.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

/* Component Specific Styles */
.app-intro {
  text-align: center;
  margin: 20px 0;
}
.product-image {
  height: 200px;
  object-fit: cover;
}
.product-card {
  margin-bottom: 30px;
}
.product-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card .btn {
  margin-top: auto;
}

/* Navbar Styles */
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #14d2b9;
}
.nav-link:active {
  font-size: 1.2rem;
  font-weight: bold;
  color: #040404 !important;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #089564 !important;
}

/* Footer Styles */
.footer {
  text-align: center;
  padding: 20px;
  background: #f8f9fa;
  margin-top: 50px;
}
.footer p {
  margin: 0;
}

/* Page Specific Styles */
.product-listing {
  padding: 20px;
}
.product-listing .row {
  margin-top: 20px;
}
.product-detail {
  padding: 20px;
}
.product-detail .card {
  max-width: 600px;
  margin: auto;
}
.product-detail .card-img-top {
  height: 400px;
  object-fit: cover;
}
.product-detail .btn {
  margin-top: 20px;
}

/* Cart and Checkout Styles */
.cart-page {
  padding: 20px;
}
.cart-page .table {
  margin-top: 20px;
}
.cart-page .btn {
  margin-top: 20px;
}
.checkout-page {
  padding: 20px;
}
.checkout-page .form-group {
  margin-bottom: 15px;
}
.checkout-page .btn {
  margin-top: 20px;
}
.order-confirmation {
  padding: 20px;
  text-align: center;
}
.order-confirmation h2 {
  margin-bottom: 20px;
}
.order-confirmation p {
  font-size: 1.2rem;
}
.order-confirmation .btn {
  margin-top: 20px;
}

/* Home Page Specific Styles */
.carousel-control-next-icon {
  background-image: url("/images/next-arrow.png");
}

.carousel-control-prev-icon {
  background-image: url("/images/next-arrow.png");
  transform: rotate(180deg);
}

.testimonial-carousel .carousel-control-prev-icon,
.testimonial-carousel .carousel-control-next-icon {
  padding: 20px;
}

.testimonial-carousel .carousel-indicators button {
  background-color: #d1d1d1;
}

.get-started {
  padding: 40px 20px;
  background-color: #e9f7f5;
  margin-top: 40px;
  border: 2px solid #14d2b9;
}

.horizontal-line {
  width: 180px;
  height: 4px;
  background-color: #14d2b9;
  border: none;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .product-detail .card-img-top {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .product-detail .card-img-top {
    height: 200px;
  }
}
